.FBBox {
  border: 1px solid #ddd;
  border-bottom: 1px solid #d0d0d0;
  padding: 4px;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 15px;
  overflow: hidden;
  h3 {
    font-size: 1em;
    line-height: 1;
    margin: 0;
    padding: 10px;
    margin: -4px;
    margin-bottom: 15px;
    background-color: #f0f0f0;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
  }
}
